h1, h3 {
    font-family: 'Prompt', sans-serif;
    color: #F7F052;
}

p, li {
    font-family: 'Hind Guntur', sans-serif;
    color: #F9F9F9;
}

a {
    color: aqua;
}

body {
    background-color: #111111;
    min-height: 100vh;
    margin: 0;
    margin-top: 4rem;
    display:flex; 
    flex-direction:column; 
}

header {
    background-color: #030303;
    width: 100%;
    padding: 1,4%;
    position:absolute;
    top:0;
    left:0;
}

#logo img{
    width: 17.8rem;
    height: 4rem;
}

#mat img{
    height: 85%;
    width: 85%;
}

.marginal {
    margin: 0 auto;
    width: 75%;
}

#fot{
    background-color: #030303;
    text-align: center;
    margin-top: auto;
}

#footpad p {
    padding: 0.5rem;
}