h1, h3 {
    font-family: 'Prompt', sans-serif;
    color: #F7F052;
}

p {
    font-family: 'Hind Guntur', sans-serif;
    color: #F9F9F9;
}

body {
    background-color: #111111;
}

header {
    background-color: #030303;
    width: 100%;
    padding: 0,8rem 0;
    position:absolute;
    top:0;
    left:0;
}

#logo img {
    width: 20%;
    height: 20%;
}

.marginal {
    margin: 0 auto;
    width: 75%;
}