h1, h3 {
    font-family: 'Prompt', sans-serif;
    color: #F7F052;
}

p {
    font-family: 'Hind Guntur', sans-serif;
    color: #F9F9F9;
}

body {
    margin: 18%;
    background-color: #111111;
}

header {
    background-color: #030303;
    width: 100%;
    height: 2vh;
    padding: 0.5rem 0;
    margin: 0%;
}

#logo img {
    width: 50%;
    height: 50%;
}